{
    "bind_addr":"0.0.0.0",
    "client_addr":"0.0.0.0",
    "bootstrap": false,
    "server": true,
    "datacenter": "byod",
    "data_dir": "/srv/consul",
    "log_level": "WARN",
    "enable_syslog": true,
    "retry_join": ["{{ groups['clients'] | join("\",\"")}}","{{ groups['server'] | join()}}"],
    "bootstrap_expect": 1
}
